[package]
name = "rustok-mcp-server"
version.workspace = true
edition.workspace = true
license.workspace = true
description.workspace = true

[dependencies]
anyhow.workspace = true
tokio.workspace = true
rustok-core.workspace = true
rustok-mcp = { path = "../../crates/rustok-mcp" }
